{{yield}}

<script>
	export default {
		oncreate() {
			document.addEventListener('click', clickHandler.bind(this))
			window.addEventListener('popstate', popHandler.bind(this))
			this.set({ r: { router: this, pathname: document.location.pathname } })
		},
		methods: {
			go(url, replace) {
				history[replace ? 'replaceState' : 'pushState'](null, '', location.origin + url)
				let r = this.get('r')
				r.pathname = url
				this.set({ r })
			},
		},
	}

	function clickHandler(event) {
		if (event.ctrlKey || event.metaKey || event.shiftKey || event.which !== 1) {
			return
		}
		let elm = event.target
		while (elm.nodeName !== 'A') {
			elm = elm.parentElement
			if (!elm) {
				return
			}
		}
		if (elm.target) {
			return
		}
		let url = elm.href
		if (!url.startsWith(document.location.origin + '/')) {
			return
		}
		event.preventDefault()
		this.go(url.slice(document.location.origin.length))
	}

	function popHandler() {
		let r = this.get('r')
		r.pathname = document.location.pathname
		this.set({ r })
	}
</script>
