<div ref:mount/>

<script>
	import matchPath from '../utils/matchPath.js'

	export default {
		oncreate() {
			this.observe('r', update.bind(this))
			this.observe('path', update.bind(this))
		},
	}

	function update() {
		let {
			r: { match, pathname, router },
			path,
			exact,
			component,
		} = this.get()
		let { _r } = this
		if (path) {
			let match = matchPath(pathname, { path, exact })
			if (match) {
				if (_r) {
					_r.set({ match, r: { match, pathname, router } })
				} else {
					_r = new component({ target: this.refs.mount, data: { match, r: { match, pathname, router } } })
				}
			} else if (_r) {
				_r.destroy()
				_r = null
			}
		} else if (_r) {
			_r.set({ match, r: { match, pathname, router } })
		} else {
			_r = new component({ target: this.refs.mount, data: { match, r: { match, pathname, router } } })
		}
		this._r = _r
	}
</script>
